$content-fontcolor: #333;
$light-fontColor: #666;
$medium-fontColor: #999;
$dark-fontColor: #000;
$content-bgcolor: #f1f1f1;
$content-notice-fontColor: #777;
$search-bgcolor: #f5f5f5;
$search-fontColor: #b7b7b7;
$bgColor: #fff;
$highlight-fontColor: #e93b3b;
$button-bgcolor: #0091ff;
$dark-bgcolor: #f8f8f8;